@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 50px 10px;
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	text-align: center;
	background-color: #111729;
	color: #eef7ff;
	display: flex;
}

::-webkit-scrollbar {
	display: none;
}

.info {
	position: absolute;
	display: flex;
	padding: 0 30px;
	gap: 20px;
}

.version-container {
	left: 88%;
	position: absolute;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 0 30px;
}

.version {
	border-radius: 13px;
	padding: 3px 7px;
	justify-content: space-between;
	width: 110px;
	display: flex;
}

.version:last-child {
	display: none;
	background-color: #6482ad;
}

.show {
	display: flex !important;
}

.hidden {
	display: none !important;
}

.info-icon {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.info-container {
	border: 2px solid;
	display: none;
	flex-direction: column;
	gap: 20px;
	background-color: #6482ad;
	border-color: #83b4ff;
	border-radius: 35px;
	padding: 20px;
	z-index: 1000;
}

.info-box {
	display: flex;
	align-items: center;
	gap: 20px;
}

section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

img {
	width: 80px;
}

.image-container {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	width: 400px;
	padding: 15px;
	border: 2px solid;
	background-color: #6482ad;
	border-radius: 35px;
	border-color: #83b4ff;
}

.image {
	border-radius: 20px;
	background-color: #7fa1c3;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 95px;
	box-shadow: -1px 1px 20px -5px rgba(0, 0, 0, 0.75);
}

.btn {
	color: #000000;
	margin: 10px 0;
	background-color: #7fa1c3;
	padding: 10px;
	width: 100px;
	border-radius: 15px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #f5004f;
}

.spin-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.bet-container {
	padding: 10px;
	border: 2px solid;
	border-color: #83b4ff;
	border-radius: 20px;
	width: 365px;
	gap: 10px;
	flex-wrap: wrap;
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #6482ad;
	padding: 20px;
	z-index: 1000;
}

.blur {
	filter: blur(1.5px);
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	html,
	body {
		overflow-x: hidden;
		padding: 0;
	}

	.info {
		flex-direction: column;
		padding: 15.5px;
		gap: 10p;
	}

	.info-box {
		font-size: 12px;
	}

	.info-image {
		width: 45px;
	}

	section {
		gap: 1px;
	}

	h1 {
		margin-bottom: 20px;
	}

	img {
		width: 70px;
	}

	.spin-container {
		width: 350px;
		gap: 10px;
	}

	.image-container {
		margin-top: 20px;
		gap: 20px;
		width: 350px;
	}

	.btn:hover {
		background-color: #7fa1c3;
	}

	.bet-container {
		width: 335px;
		padding: 10px 5px;
		gap: 5px;
	}
}
